[boot]
{% if wsl_boot_systemd is defined %}
systemd = {{ wsl_boot_command | bool | lower }}
{% else %}
systemd = true
{% endif %}
{% if wsl_boot_command is defined and wsl_boot_command | length > 0 %}
command = {{ wsl_boot_command }}
{% endif %}

[user]
default = {{ wsl_username }}

[network]
{% if wsl_hostname is defined %}
hostname = {{ wsl_hostname }}
{% endif %}
{% if wsl_network_generate_hosts is defined %}
generateHosts = {{ wsl_network_generate_hosts | bool | lower }}
{% endif %}
{% if wsl_network_generate_resolve_config is defined %}
generateResolvConf = {{ wsl_network_generate_resolve_config | bool | lower }}
{% endif %}

[interop]
{% if wsl_interop_enabled is defined %}
enabled = {{ wsl_interop_enabled | bool | lower }}
{% endif %}
{% if wsl_interop_append_windows_path is defined %}
appendWindowsPath = {{ wsl_interop_append_windows_path | bool | lower }}
{% endif %}

[automount]
enabled = {{ wsl_automount_enabled | bool | lower }}
mountFsTab = {{ wsl_automount_fstab | bool | lower }}
root = {{ wsl_automount_root }}
options = "{{ wsl_automount_options }}"
